{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Portfolio{% endblock %}

{% block content %}

<!-- Homepage -->

    <section class="h100vh bg-img-1 d-flex align-self-end column">
        <header id="home">
        {# Desktop / Medium Desktop version #}
            <nav class="">
                <div class="container m-auto d-flex justify-content-between p-20 hidden-s">
                    <a href="">
                        <img class="logo" src="../img/logo-orange.png" alt="Logo portfolio">
                    </a>
        
                    <ul class="d-flex justify-content-around">
                        <li class="li-nav align-self-center montserrat light fs-20 ml-80">
                            <a class="lien-nav text-decoration-none white" href="#about">À PROPOS</a>
                        </li>
                        <li class="li-nav align-self-center montserrat light fs-20 ml-80">
                            <a class="lien-nav text-decoration-none white" href="#projets">PORTFOLIO</a>
                        </li>
                    </ul>
                </div>
        <!-- Mobile / tablette version -->
                <div class="visible-s hidden-lg hidden-xl text-center mt-20">
                    <button id="button-nav" class="button-nav montserrat">MENU</button>
                    <div id="nav-mobile" class="h100vh overlay">
                        <div id="close-nav" class="closebtn white">
                            <i class="fas fa-times fs-30"></i>
                        </div>
                        
                        <ul class="d-flex justify-content-around column overlay-content">
                            <li class="align-self-center montserrat light fs-20">
                                <a class="text-decoration-none white fs-30" href="#about">À PROPOS</a>
                            </li>
                            <li class="align-self-center montserrat light fs-20">
                                <a class="text-decoration-none white fs-30" href="#projets">PORTFOLIO</a>
                            </li>
                            <li class="align-self-center">
                                <img class="logo" src="../img/logo.png" alt="Logo portfolio">
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="m-auto align-self-center color-2 text-center">
            <h1 class="titillium light fs-50 ls-40 ls-5-xs ls-20-s ls-30-md fs-25-xs fs-30-md">ROMAIN WENGER</h1>
            <h3 class="raleway medium pt-50 fs-25 ls-15 ls-5-xs ls-10-md fs-15-xs fs-20-md">Développeur Web Junior</h3>
        </div>

    {# Réseaux sociaux + next  #}

        <div class="w100">
            <div class="container m-auto d-flex p-30">
                <div class="d-flex justify-content-center w100">
                    <a class="text-decoration-none color-2 d-flex align-self-end" href="https://www.facebook.com/romain.wenger.98" target="_blank">
                        <i class="fab fa-facebook-f fs-25"></i>
                    </a>

                    <a class="text-decoration-none ml-40 color-2 d-flex align-self-end" href="https://twitter.com/Romain_WebDev" target="_blank">
                        <i class="fab fa-twitter fs-25"></i>
                    </a>

                    <a class="text-decoration-none ml-40 color-2 d-flex align-self-end" href="https://www.linkedin.com/in/romain-wenger/" target="_blank">
                        <i class="fab fa-linkedin-in fs-25"></i>
                    </a>

                    <a class="text-decoration-none ml-40 color-2 d-flex align-self-end" href="https://github.com/r0m21" target="_blank">
                        <i class="fab fa-github-alt fs-25"></i>
                    </a>
                </div>

                <div class="position-absolute next-position hidden-lg">
                    <a class="text-decoration-none" href="#about">
                        <h5 class="vertical-text raleway light fs-14 white">
                            NEXT
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </h5>
                    </a>
                </div>
            </div> 
        </div>
    </section>

<!-- END Homepage -->

<!-- A PROPOS -->
    <section id="about" class="w100 h100vh-xl pb-40-lg d-flex-xl position-relative-xl bg-color-1-xl">
    <!-- Tablette / Mobile version -->     
        <div class="w100 ptb-40-lg visible-lg hidden-xl"> 
            <div class="w100 pb-20">
                <h1 class="text-center color-2 raleway light fs-50">À PROPOS</h1>
            </div>
        
            <div class="w100">
                <div class="w100 d-flex justify-content-around flex-wrap">
    {# Design #}    
                <article class="ptb-20 w33-lg w100-s">
                    <div class="d-flex column border-2 ptb-10 bg-color-3 h100">

                        <div class="w100 justify-content-center">
                            <div class="bg-comp-1 circle-div m-auto"></div>
                            <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-20 mlr-auto separator">Design</h1> 
                        </div>

                        <div class="d-flex column h100 justify-content-center">

                            <div class="d-flex column mb-20">
                                <p class="text-center raleway regular fs-16 mb-10 color-1">UI / UX</p>
                                <p class="text-center raleway regular fs-16 mb-10 color-1">Responsive Design</p>
                            </div>

                            <div class="d-flex column mb-20">
                                <p class="text-center raleway regular fs-16 mb-10 color-1">Adobe XD</p>
                                <p class="text-center raleway regular fs-16 mb-10 color-1">Photoshop</p>
                                <p class="text-center raleway regular fs-16mb-10 color-1">Illustrator</p>
                            </div>

                            <div class="d-flex justify-content-center mb-20">
                                <i class="fas fa-mobile-alt fs-20 d-flex align-items-end color-1"></i>
                                <i class="fas fa-tablet-alt fs-25 ml-15 d-flex align-items-end color-1"></i>
                                <i class="fas fa-desktop fs-30 ml-15 d-flex align-items-end color-1"></i>
                            </div>
                        
                        </div>
                    </div>
                </article>
    {# Front end #}
                <article class="ptb-20 w33-lg w100-s">
                    <div class="d-flex column border-2 ptb-10 bg-color-3 h100">

                        <div class="w100 justify-content-center">
                            <div class="circle-div m-auto bg-comp-2"></div>
                            <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-20 mlr-auto separator">Front</h1>
                        </div>

                        <div class="d-flex column h100 justify-content-center">
                            <div class="d-flex column mb-20">
                                <p class="text-center color-1 raleway regular fs-16 mb-10">HTML5 / CSS3</p>
                                <p class="text-center color-1 raleway regular fs-16">Javascript</p>
                            </div>

                            <div class="d-flex column mb-20">
                                <p class="text-center color-1 raleway regular fs-16 mb-10">Bootstrap 4</p>
                                <p class="text-center color-1 raleway regular fs-16 mb-10">Materialize</p>
                                <p class="text-center color-1 raleway regular fs-16 mb-10">Jquery</p>
                                <p class="text-center color-1 raleway regular fs-16">Ajax</p>
                            </div>
                        </div>
                    </div>
                </article>
                        
    {# Back end #}
                <article class="ptb-20 w33-lg w100-s">
                    <div class="d-flex column border-2 ptb-10 bg-color-3 h100">

                        <div class="w100 justify-content-center">
                            <div class="circle-div m-auto bg-comp-3"></div>
                            <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-20 mlr-auto separator">Back</h1>
                        </div>

                        <div class="d-flex column h100 justify-content-center"> 

                            <div class="d-flex column mb-20">
                                <p class="text-center color-1 raleway regular fs-16 mb-10">Php</p>
                                <p class="text-center color-1 raleway regular fs-16">Sql</p>
                            </div>

                            <div class="d-flex column mb-20">
                                <p class="text-center color-1 raleway regular fs-16 mb-10">Symfony 4</p>
                                <p class="text-center color-1 raleway regular fs-16 mb-10">Twig</p>
                                <p class="text-center color-1 raleway regular fs-16 mb-10">MVC</p>
                                <p class="text-center color-1 raleway regular fs-16">POO</p>
                            </div>
                        
                        </div>
                    </div>
                </article>
    {# Passions #}
                </div>

                <div class="w100 d-flex justify-content-around flex-wrap">
    {# Cuisine #}
                <article class="ptb-20 w33-lg w100-s">
                    <div class="d-flex column border-2 ptb-10 bg-color-3 h100">

                        <div class="w100 justify-content-center">
                            <div class="circle-div m-auto bg-pass-1"></div>
                            <h1 class="fs-25 ls-5 raleway regular text-center color-2 ptb-20 mlr-auto separator">Cuisine</h1>
                        </div>

                        <div class="d-flex column h100 justify-content-center">
                            
                            <div class="d-flex column mb-20 p-10">
                                <p class="color-1 raleway regular fs-16 mb-10 lh-20">
                                    Ma passion pour la cuisine est arrivée très jeune. 
                                </p>
                                <p class="color-1 raleway regular fs-16 mb-10 lh-20">
                                    Fils de cuisinier, j'ai commencé mes premiers plats très tôt avec mon père.
                                    Aujourd'hui, tous mes acquis en cuisine sont retranscris dans mon métier de développeur. 
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
    {# Pâtisserie #}
                <article class="ptb-20 w33-lg w100-s">
                    <div class="d-flex column border-2 ptb-10 bg-color-3 h100">

                        <div class="w100 justify-content-center">
                            <div class="circle-div m-auto bg-pass-2"></div>
                            <h1 class="fs-25 ls-5 raleway regular text-center color-2 ptb-20 mlr-auto separator">Pâtisserie</h1>
                        </div>

                        <div class="d-flex column h100 justify-content-center">

                            <div class="d-flex column mb-20 p-10">
                                <p class="color-1 raleway regular fs-16 mb-10 lh-20">
                                    En travaillant en cuisine, je me suis découvert une autre passion, la pâtisserie. 
                                </p>
                                <p class="color-1 raleway regular fs-16 lh-20">
                                    Elle m'a apprit à être encore plus minutieux et plus perfectionniste.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
    {# Jeux vidéos #}
                <article class="ptb-20 w33-lg w100-s">
                    <div class="d-flex column border-2 ptb-10 bg-color-3 h100">

                        <div class="w100 justify-content-center">
                            <div class="circle-div m-auto bg-pass-3"></div>
                            <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-20 mlr-auto separator">Jeux</h1> 
                        </div>

                        <div class="d-flex column h100 justify-content-center">

                            <div class="d-flex column mb-20 p-10">
                                <p class="color-1 raleway regular fs-16 lh-20">
                                    Je suis un joueur de jeux vidéos depuis une 15aine d'année.
                                    Mon style de jeu? Les FPS !
                                    Le jeu qui m'aura le plus marqué ? Counter-strike !
                                    Ce que j'aime dans un jeu vidéo, c'est le côté compétitif et les stratégies que l'ont peut établir avec son équipe.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            </div>
        </div>

    <!-- Desktop / Medium Desktop version -->
        <div class="w100 h100vh d-flex-xl position-relative-xl bg-color-1-xl hidden-lg visible-xl">
  
                <div class="h100 w20 d-flex">
                        <h1 class="white vertical-text-title fs-70 raleway light text-center m-auto">À PROPOS</h1>
                </div>
                
                <div class="h100 w80 d-flex">
        {# Compétences #}
                    <div class="w50 d-flex">
        {# Design #}
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/skill-1.jpg" alt="About">
                            </div>
        
                            <article class="card-content d-flex column h100 m-auto filter-black">
        
                                <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-100 mlr-auto separator">Design</h1> 
        
                                <div class="d-flex column mb-50">
                                    <p class="text-center white raleway regular fs-16 mb-15">UI / UX</p>
                                    <p class="text-center white raleway regular fs-16">Responsive Design</p>
                                </div>
        
                                <div class="d-flex column mb-50">
                                    <p class="text-center white raleway regular fs-16 mb-15">Adobe XD</p>
                                    <p class="text-center white raleway regular fs-16 mb-15">Photoshop</p>
                                    <p class="text-center white raleway regular fs-16">Illustrator</p>
                                </div>
        
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-mobile-alt white fs-20 d-flex align-items-end"></i>
                                    <i class="fas fa-tablet-alt white fs-25 ml-15 d-flex align-items-end"></i>
                                    <i class="fas fa-desktop white fs-30 ml-15 d-flex align-items-end"></i>
                                </div>
                            
                            </article>
                            
                        </div>
        {# Front end #}
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/skill-2.jpg" alt="About">
                            </div>
        
                            <article class="card-content d-flex column h100 m-auto filter-black">
        
                                <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-100 mlr-auto separator">Front</h1> 
        
                                <div class="d-flex column mb-50">
                                    <p class="text-center white raleway regular fs-16 mb-15">HTML5 / CSS3</p>
                                    <p class="text-center white raleway regular fs-16">Javascript</p>
                                </div>
        
                                <div class="d-flex column mb-50">
                                    <p class="text-center white raleway regular fs-16 mb-15">Bootstrap 4</p>
                                    <p class="text-center white raleway regular fs-16 mb-15">Materialize</p>
                                    <p class="text-center white raleway regular fs-16 mb-15">Jquery</p>
                                    <p class="text-center white raleway regular fs-16">Ajax</p>
                                </div>
                            
                            </article>
                            
                        </div>
        {# Back end #}
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/skill-3.png" alt="About">
                            </div>
        
                            <article class="card-content d-flex column h100 m-auto filter-black">
        
                                <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-100 mlr-auto separator">Back</h1> 
        
                                <div class="d-flex column mb-50">
                                    <p class="text-center white raleway regular fs-16 mb-15">Php</p>
                                    <p class="text-center white raleway regular fs-16">Sql</p>
                                </div>
        
                                <div class="d-flex column mb-50">
                                    <p class="text-center white raleway regular fs-16 mb-15">Symfony 4</p>
                                    <p class="text-center white raleway regular fs-16 mb-15">Twig</p>
                                    <p class="text-center white raleway regular fs-16 mb-15">MVC</p>
                                    <p class="text-center white raleway regular fs-16">POO</p>
                                </div>
                            
                            </article>
                            
                        </div>
        
                    </div>
        {# Passions #}
                    <div class="w50 d-flex">
        {# Cuisine #}
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/about-1.png" alt="About">
                            </div>
        
                            <article class="card-content d-flex column h100 m-auto filter-black">
        
                                <h1 class="fs-25 ls-5 raleway regular text-center color-2 ptb-100-35 mlr-auto separator">Cuisine</h1> 
        
                                <div class="d-flex column mb-50 p-10">
                                    <p class="white raleway regular fs-16 mb-15 lh-20">
                                        Ma passion pour la cuisine est arrivée très jeune. 
                                    </p>
                                    <p class="white raleway regular fs-16 mb-15 lh-20">
                                        Fils de cuisinier, j'ai commencé mes premiers plats très tôt avec mon père.
                                        Aujourd'hui, tous mes acquis en cuisine sont retranscris dans mon métier de développeur.
                                    </p>
                                </div>
        
                            </article>
                            
                        </div>
        {# Pâtisserie #}
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/about-2.png" alt="About">
                            </div>
        
                            <article class="card-content d-flex column h100 m-auto filter-black">
        
                                <h1 class="fs-25 ls-5 raleway regular text-center color-2 ptb-100-35 mlr-auto separator">Pâtisserie</h1> 
        
                                <div class="d-flex column mb-50 p-10">
                                    <p class="white raleway regular fs-16 mb-15 lh-20">
                                        En travaillant en cuisine, je me suis découvert une autre passion, la pâtisserie. 
                                    </p>
                                    <p class="white raleway regular fs-16 mb-15 lh-20">
                                        Elle m'a apprit à être encore plus minutieux et plus perfectionniste. 
                                    </p>                             
                                </div>
        
                            </article>
                            
                        </div>
        {# Jeux vidéos #}
                        <div class="w33 card">
        
                                <div class="boximg h100">
                                    <img class="img-responsive" src="../img/about-3.png" alt="About">
                                </div>
            
                                <article class="card-content d-flex column h100 m-auto filter-black">
            
                                    <h1 class="fs-25 ls-10 raleway regular text-center color-2 ptb-100-35 mlr-auto separator">Jeux</h1> 
            
                                    <div class="d-flex column mb-50 p-10">
                                        <p class="white raleway regular fs-16 lh-20">
                                            Je suis un joueur de jeux vidéos depuis une 15aine d'année.
                                            Mon style de jeu? Les FPS !
                                            Le jeu qui m'aura le plus marqué ? Counter-strike !
                                            Ce que j'aime dans un jeu vidéo, c'est le côté compétitif et les stratégies que l'ont peut établir avec son équipe.
                                        </p>
                                    </div>
                                </article>
                                
                        </div>
                    </div>
                </div>
        
        {# Bloc avec flèche NEXT #}  
                <div class="position-absolute next-position hidden-lg">
                    <a class="text-decoration-none" href="#projets">
                        <h5 class="vertical-text raleway light fs-14 color-3">
                            NEXT
                            <i class="fas fa-long-arrow-alt-down"></i>
                        </h5>
                    </a>
                </div>
        
            {# SVG #}
        
            <svg class="svg-responsive position-svg" version="1.1" id="my-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="1600px" height="205.907px" viewBox="0 94.093 1600 205.907" enable-background="new 0 94.093 1600 205.907"
            xml:space="preserve">
            <polygon class="" fill="#FFFFFF" points="0,274.499 0,300 1600,300 1600,94.093 "/>
            </svg>
        
        </div>   
    </section>
    
<!-- END A PROPOS -->

<!-- All projets -->

    <section id="projets" class="position-relative-xl w100 h100vh-xl bg-color-1-xl d-flex">
<!-- Mobile / Tablette version -->
        <div class="w100 ptb-40-lg visible-lg hidden-xl">

            <div class="w100 pb-20">
                <h1 class="text-center color-2 raleway light fs-50">PORTFOLIO</h1>
            </div>

            <div class="w100">
                
                <div class="w100 d-flex justify-content-around flex-wrap pb-20">       
                    {% for p in projets|slice(0, 6) %}
                        <article class="box-projet position-relative p-30">
                            <a class="text-decoration-none" href="/projet/{{ p.Id }}">
                                <div class="box-img-projet">
                                    <img class="responsive-image img-projet w100-s" src="../img/box_projet/{{p.PROBoxprojet}}">
                                </div>
                                <div class="box-content">
                                    <h3 class="fs-20 raleway regular color-2 h100 w100 d-flex justify-content-center align-items-center">{{ p.PRONom }}</h3> 
                                </div>
                            </a>
                        </article>  
                    {% endfor %}
                </div>
            </div>
        </div>
<!-- Desktop / Medium Desktop version -->
        <div class="position-relative-xl w100 h100vh bg-color-1 d-flex-xl hidden-lg visible-xl">
                <div class="h100 w20 d-flex">
                    <h1 class="white vertical-text-title fs-70 raleway light text-center m-auto">PORTFOLIO</h1>
                </div>
        
                <div class="h100 w80 d-flex">
        
        {# 3 premiers bloc #}
                    <div class="w50 d-flex">
        
                    {% for p in projets|slice(0, 3) %}
                        
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/box_projet/{{p.PROBoxprojet}}" alt="Projet {{ p.PRONom }}">
                            </div>
                            
                            <article class="card-content d-flex column filter-black">
                                <div class="h-100 d-flex column align-items-center justify-content-center bg-color-2">
                                    <h1 class="fs-20 raleway regular color-2">{{ p.PRONom }}</h1> 
                                    <a class="mt-20" href="/projet/{{ p.Id }}">
                                        <i class="fs-20 color-3 far fa-eye"></i>
                                    </a>
                                </div>
                            </article> 
                        </div>
                        
                    {% endfor %}
                        
                    </div>
        
        {# 3 derniers bloc #}
                    <div class="w50 d-flex">
        
                    {% for p in projets|slice(3, 6) %}
                        
                        <div class="w33 card">
        
                            <div class="boximg h100">
                                <img class="img-responsive" src="../img/box_projet/{{p.PROBoxprojet}}" alt="Projet {{ p.PRONom }}">
                            </div>
                            
                            <article class="card-content d-flex column filter-black">
                                <div class="h-100 d-flex column align-items-center justify-content-center bg-color-2">
                                    <h1 class="fs-20 raleway regular color-2">{{ p.PRONom }}</h1> 
                                    <a class="mt-20" href="/projet/{{ p.Id }}">
                                        <i class="fs-20 color-3 far fa-eye"></i>
                                    </a>
                                </div>
                            </article> 
                        </div>
                        
                    {% endfor %}
        
                    </div>
                </div>
        
        {# Bloc avec flèche TOP #}  
        <div class="position-absolute next-position">
                <a class="text-decoration-none" href="#home">
                    <h5 class="vertical-text raleway light fs-14 color-3">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        TOP
                    </h5>
                </a>
            </div>
        {# SVG #}
        
        <svg class="svg-responsive position-svg hidden-lg" version="1.1" id="my-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="1600px" height="205.907px" viewBox="0 94.093 1600 205.907" enable-background="new 0 94.093 1600 205.907"
        xml:space="preserve">
        <polygon class="" fill="#FFFFFF" points="0,274.499 0,300 1600,300 1600,94.093 "/>
        </svg>
        </div>

    </section>

<!-- END PROJET -->

{% endblock %}
