{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Recherche
{% endblock %}

{% block content %}

    <section class="flex block-on-med-and-down pt50p">
        <h1 class="rotated fs95 oswald mleft100p mrightNeg100p h1-sm h1-mm right-align"><span class="color2">R</span><span class="color5">ECHERCHE</span></h1>
        <div class="row container mtop30-mm">
            <div class="flex flexdcolumn">
        
                <form class="col 12 flexdcolumn " action="" method="GET">

                    <div class="flex col l12 m12 nopadding">

                        <div class="input-field col s12 l6 m6 nopadding">
                            <label for="nom" class="fs32 color5">Nom</label>
                            <input type="text" name="nom" id="nom">
                        </div>

                        <div class="input-field col s12 l6 m6 nopadding">
                            <label for="style" class="fs24 color5">Style</label>
                            <input type="text" name="styleBeer" id="style">
                            <div id="autocompletestyle" class="listautocomplete">
                            </div>
                        </div>
                    </div>

                    <div class="col s12 mleft30p flex flexdcolumn mtop40p">

                        <select id="nationalite" class="fs24">
                            <option value="" placeholer=""  >Choisir une nationalité</option>
                            {% for o in option %}
                                <option value="{{ o.NAME_CAT }}">{{ o.NAME_CAT }}</option>
                            {% endfor %}
                        </select>  

                        <div class="range-field mtop40p">
                            <label for="style" class="fs16 color5">Degré d'alcool</label>
                            <input type="range" min="0" max="40" name="degBeer"/>
                        </div>
                    </div>

                    <div class="flex jccenter col s12 mtop40p">
                        <input title="Lancer la recherche" class="btn waves-effect waves-light bgcolor2 color4" type="submit" name="submitForm" value="Rechercher">
                    </div>

                </form> 

                <div class="container mtop40p" id="blockSearch">
                    {% for s in search %}
                        <div class="card center-align col l4">
                            <h3 class="fs12 card-title textLimitSearch">{{ s.NAME_BEE }}</h3>
                            <a href="info-beer/{{ s.ID_BEE }}"><i class="fa fa-info-circle fa-4x color2 mtop20p padding15p" aria-hidden="true"></i></a>
                            <img src="{{ s.FILEPATH_BEE }}.png" alt="résultatBière" >
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
{% endblock %}