{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block content %}

{# Desktop / Medium Desktop version #}

    {% include 'include/header-back.html' %}

    <section class="container m-auto d-flex column">
        <h1 class="raleway medium pt-50 ptb-40 fs-25 ls-15 ls-5-xs ls-10-md fs-15-xs fs-20-md d-flex justify-content-center mb-30">AJOUTER UN PROJET</h1>

        <div class="d-flex justify-content-center">
            {{ form_start(ajoutForm) }}

                {{ form_row(ajoutForm.PRO_nom) }}
                {{ form_row(ajoutForm.PRO_desc) }}
                {{ form_row(ajoutForm.PRO_techno) }}
                {{ form_row(ajoutForm.PRO_url) }}
                {{ form_row(ajoutForm.PRO_image) }}
                {{ form_row(ajoutForm.PRO_boxprojet) }}
    
                <input class="submit-form raleway medium d-flex m-auto mt-40" type="submit" value="Envoyer">
        
            {{ form_end(ajoutForm) }}
        </div>
       
    </section>
   

{% endblock %}
