{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block content %}
    
    <h1>{{ projets.PRONom }}</h1>
    <p>{{ projets.PRODesc }}</p>
    <img src="../img/{{ projets.PROImage }}" alt="">
    <a href="{{ projets.PROUrl }}">URL</a>
    <p>{{ projets.PROTechno }}</p>
    
{% endblock %}
