{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}



{% block content %}
    <section class="owl-carousel h300p">
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/brasserie1.jpeg" alt="brasserie1"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/brasserie3.jpg" alt="brasserie3"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/brasserie2.jpg" alt="brasserie2"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/pub_indoor.jpg" alt="pubindoor"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/pub_indoor2.jpg" alt="pubindoor2"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/pub_outdoor.jpg" alt="pub_outdoor"></div>
        </section>
    <div class="center-align">
        <div class="row">
            <div class="flex offset-l4 mtop50p col l4 offset-s2 s8">
                <hr class="col l4 s4">
                <img src="assets/img/icons/chopes.png" alt="chopes" class="mtopNeg20p">
                <hr class="col l4 s4">
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col offset-s2 offset-m2 offset-l4 s8 m8 l4 fs20 fs16-sm oswald textjustify">
            Bienvenue sur "Chope ta bière !", site dédié à la présentation (avant dégustation) de bières internationales.
            Vous trouverez des informations (origine, style et degré d'alcool) sur plus de 1000 bières.
            Cliquez sur l'icône "loupe" pour rechercher la bière que vous voulez, et sur le "?" pour accéder aux informations légales du site.
            <p class="nopargin col offset-s2 offset-m1 offset-l4 s8 m10 l4 fs20 fs16-sm oswald center-align">
                    Attention, ce site peut contenir certaines images. 
      
                </p>
                <p class="nopargin col offset-s2 offset-m1 offset-l4 s8 m10 l4 fs20 fs16-sm oswald center-align">
                        Nous vous rappelons que l'abus d'alcool.      
                    </p>
            
            
        </p>
        <p class="col offset-s2 offset-m1 offset-l4 s8 m10 l4 fs20 fs16-sm oswald center-align">
            Bonne visite ! L'équipe de CTB      
        </p>
    </div>


 <section class="flex block-on-med-and-down color5 mtop30-sm mtop80-mm">
    <h1 class="rotated fs95 oswald mleft100p mrightNeg100p h1-sm h1-mm right-align"><span class="color2">N</span><span class="color5">OTRE SELECTION</span></h1>
    <div class="container">
            <div class="row jcaround">

        {% for beer in randomBeer %}

            <div class="col l4 s12 center-align">
                <h2 class="fs24 bold titleLimitIndex">{{ beer.NAME_BEE }}</h2>
                <hr class="w75p">
                <img src="{{ beer.FILEPATH_BEE }}.png" alt="bière">
                <p class="textLimitIndex container fs20 light oswald minheight150p">{{ beer.DESC_BEE }}</p>
                <a href="info-beer/{{ beer.ID_BEE }}"><i class="fa fa-info-circle fa-4x color2 mtop20p" aria-hidden="true"></i></a>


            </div>

        {% endfor %}
    </div>

    </div>
    
</section>
<script>
    document.getElementById("iconretour").style.visibility = "hidden";
</script>
{% endblock %}

